.Header {
  background-color: #32385f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container_max-width);
  padding: 1rem;
  color: white;
}

.logo {
  color: white;
}