.CartPage {
  display: flex;
  justify-content: center;
}

.CartPage .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--container_max-width);
  background-color: white;

  gap: 20px;
  padding: 60px 40px;
}

.CartPage .total {
  margin-top: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: right;
}