.ProductCard {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 1rem;
  padding: 2rem;
  width: 285px;
  
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
  transition: box-shadow .2s ease-in-out;
}

.ProductCard:hover {
  box-shadow: 0 1px 3px 0px rgb(0 0 0 / 60%);
}

.ProductCard .top-section {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.ProductCard img {
  width: 100%;
}

.ProductCard .bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.ProductCard .title {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(75, 75, 75);
  width: 100%;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ProductCard .price {
  font-size: 2rem;
  color: rgb(40, 40, 40);
}
