.SearchBar input {
  font-size: 1rem;
  padding: 0.2rem;
  border: 2px solid #ccc;
  color: #23263b;
  background: #eaeaea;;
  
  transition: border 100ms ease-in, background-color 100ms ease-in;
}

.SearchBar input:hover {
  border-color: #ccc;
}

.SearchBar input:focus {
  border-color: var(--color-normal);
  background: #fff;
  outline: none;
}

.SearchBar select {
  background-color: #eaeaea;
  border: none;
  margin-inline: 0.6rem;
  font-size: 1rem;
  padding: 0.2rem;
}

.SearchBar select:focus {
  outline: none;
}